@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

* {
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Balsamiq Sans', cursive, sans-serif;
}

.wrapper {
    width: 80vw;
    background-color: white;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    padding: 3px;
    width: 15%;
    height: 15%;
    background-color: #08d1b2;
    margin-right: 1%;
}

.header h1 {
    display: inline-block;
}

.header .searchbar {
    display: flex;
    border: 1px solid black;
    border-radius: 50px;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    width: 400px;
}

.header .magnifying {
    width: 10px;
    height: 10px;
}

.header .sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px;

}

.header .sign-in {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.header .cart {
    height: 30px;
    width: 30px;
}

.header .search {
    border: none;
    width: 80%;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link li {
    list-style-type: none;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

hr {
    height: 5px;
    background-color: black;
}

.wrapper .catalog {
    font-size: 40px;
    text-align: center;
    letter-spacing: 9px;
    margin: 20px 0px;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-content .big-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    background-color: #08d1b2;
    color: white;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.main-content .big-image p {
    font-size: 30px;
    line-height: 180%;
    margin: 0px;
}

.big-image-lowerlink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.big-image-lowerlink a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.big-image-lowerlink img {
    width: 15%;
    height: 100%;
    padding-left: 10%;
}

#succulent {
    width: 45%;
    height: 50%;
}

#aloe {
    width: 100%;
    height: 62%;
}

.small-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
    padding-left: 2%;
    flex-wrap: wrap;
}

.small-image-lowerlink img {
    width: 15%;
    height: 100%;
}

.small-image-lowerlink {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #08d1b2;
    padding: 10%;
}

.small-image-lowerlink a {
    text-decoration: none;
    color: white;
    font-size: 200%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 15px 15px;
    flex-wrap: wrap;
    background-color: #aae8d9;
    margin-top: 10px;
}

footer p {
    margin: 0px;
}

footer img {
    width: 150px;
    height: 150px;
}

footer .footer-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 190px;
    flex-wrap: wrap;
}

footer .footer-image p {
    text-align: center;
}

/* <----------------- Media Queries -----------------> */

@media screen and (max-width: 280px) {
    .header .searchbar {
        width: 215px;
    }
    footer img {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 420px) {
    .header .searchbar {
        width: 260px;
    }
    .wrapper .catalog {
        font-size: 20px;

    }
    nav .nav-link a {
        font-size: 8px;
    }
}

@media screen and (max-width: 530px) {
    .header {
        flex-direction: column;
    }
}

@media screen and (max-width: 540px) {
    .nav-link .no-show {
        display: none;
    }
}

@media screen and (max-width: 627px) {
    footer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 665px) {
    .nav-link a {
        font-size: 10px;
    }
}

@media screen and (max-width: 720px) {
    .nav-link a {
        font-size: 15px;
    }
}

@media screen and (max-width: 1359px) {
    .main-content .big-image p {
        text-align: center;
    }
}

@media screen and (max-width: 1020px) {
    .main-content .big-image {
        width: 100%;
    }
    #succulent {
        width: 100%;
    }
    .small-image {
        width: 100%;
        margin: 20px 0px 10px 0px;
        padding: 0px;
        justify-content: center;
        height: 100%;
    }
    .small-image-lowerlink {
        padding: 10px 0px;
        justify-content: center;
    }
    .small-image-lowerlink img {
        width: 30px;
        
    }
    .small-image-lowerlink a {
        padding-right: 20px;
    }
}

@media screen and (max-width: 1030px) {
    .header {
        flex-direction: column;
    }
    .header .sign {
        padding-top: 20px;
    }
}

@media screen and (max-width: 1260px) {
    footer img {
        margin: 0px 43px;
    }
}

@media screen and (max-width: 1554px) {
    .main-content .big-image p {
        font-size: 25px;
        line-height: 180%;
    }
    .big-image-lowerlink a {
        font-size: 25px;
    }
    .small-image-lowerlink a {
        font-size: 25px;
    }
}
